a{
    text-decoration: none;
    color: black;
}

.containers{
    display: grid;
    grid-template-columns: 23% 45% 32%;
    align-items: flex-start;
    height: vh;
}

#navbar{
    grid-column-start: 1;
    grid-column-end: 2;
    position: fixed;
    padding-right: 100px; 
    padding-left: 30px;
}

#navbar2{
    grid-column-start: 2;
    grid-column-end: 3;
    border: 1px solid #F5F8FA;
}
#navbar3{
    grid-column-start: 3;
    grid-column-end: 4;
}

/*===================== COLUNA 1 ===================== COLUNA 1 ===================== COLUNA 1 ===================== COLUNA 1 ================ */

.menu{
    display: flex;
	align-items: center;
    justify-content: flex-start;
	padding: 5px 0px 15px 15% ;
	flex-direction: row;
    margin: 0;	
    justify-items: center;
    width: 100%;
}

.tweetar{
    background-color: #00acee;
    color: white;
    padding: 8px 15px;
    border-radius: 50px;
    font-family: Arial;
    font-weight: bold;
    width: 90%;
    height: 30px;
}

#icones{
	height: 37px;
    width: 37px;
    float: left;
}

#textomenu{
    display: flex;
    padding: 0px 10px;
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    height: 37px;
    width: auto;
}

#justificar{
    text-align: center;
    align-self: center;
    padding-top: 15px;
}




/*===================== COLUNA 2 ===================== COLUNA 2 ===================== COLUNA 2 ===================== COLUNA 2 ================ */

#header-text{
    position: fixed;
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    justify-items: center;
    align-content: center;
    position: fixed;
    padding: 10px;
    border: 1px solid #F5F8FA;
    z-index: 2;
}

#destaques{
    align-content: flex-end;
    padding-left: 440px;
}

/*===================== COLUNA 3 ===================== COLUNA 3 ===================== COLUNA 3 ===================== COLUNA 3 ================ */

.conteiner-direita{
    display: block;
    width: 100%;
    border: 2px;
    margin-right: 150px;
    margin-left: 30px;
}

.conteiner-input{
    background-color: #E1E8ED;
    height: 35px;
    border-radius: 30px;
    
}
.oinputemsi{
    background: transparent;
    font-family: cursive;
}
