a{
    text-decoration: none;
    color: black;
}

.containers{
    display: grid;
    grid-template-columns: 23% 45% 32%;
    align-items: flex-start;
    height: vh;
}

#navbar{
    grid-column-start: 1;
    grid-column-end: 2;
    position: fixed;
    padding-right: 100px; 
    padding-left: 30px;
}

#navbar2{
    grid-column-start: 2;
    grid-column-end: 3;
    border: 1px solid #F5F8FA;
}
#navbar3{
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    
}

/*===================== COLUNA 1 ===================== COLUNA 1 ===================== COLUNA 1 ===================== COLUNA 1 ================ */

.menu{
    display: flex;
	align-items: center;
    justify-content: flex-start;
	padding: 5px 0px 15px 15% ;
	flex-direction: row;
    margin: 0;	
    justify-items: center;
    width: 100%;
}

.tweetar{
    background-color: #00acee;
    color: white;
    padding: 8px 15px;
    border-radius: 50px;
    font-family: Arial;
    font-weight: bold;
    width: 90%;
    height: 30px;
}

#icones{
	height: 37px;
    width: 37px;
    float: left;
}

#textomenu{
    display: flex;
    padding: 0px 10px;
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    height: 37px;
    width: auto;
}

#justificar{
    text-align: center;
    align-self: center;
    padding-top: 17px;
}




/*===================== COLUNA 2 ===================== COLUNA 2 ===================== COLUNA 2 ===================== COLUNA 2 ================ */

#header-text{
    position: fixed;
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    justify-items: center;
    align-content: center;
    padding: 10px;
    border: 1px solid #F5F8FA;
    background: white;
}

#destaques{
    align-content: flex-end;
    padding-left: 440px;
}

#tweets{
    padding-top: 51px;

}

#form-tweet{
    padding: 8px;
    justify-content: center;
}

#tweet{
    height: 60px;
    width: 520px;
    border: none;
    display: flex;
    float: right;
    font-size: 20px;
    outline-width: 0px;
}

#itens{
    height:45px;
    width: 520px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.direita{
    float: right;
    padding: 5px 8px;
}
.esquerda{
    padding-left: 70px;
}
#esquerda{
    padding-left: 170px;
}

/*===================== COLUNA 3 ===================== COLUNA 3 ===================== COLUNA 3 ===================== COLUNA 3 ================ */

.conteiner-direita{
    display: block;
    width: 100%;
    border: 2px;
    margin-right: 173px;
    margin-left: 30px;
    padding-bottom: 5px;
}

.conteiner-input{

    background-color: #E1E8ED;
    height: 45px;
    border-radius: 30px;
    padding: 0px;

}
.oinputemsi{
    padding-top: 5px;
    padding-bottom: 5px;
    background: transparent;
    font-family: cursive;
    border: none;
    border-image-outset: unset;


}
.imagemlupazinha{
    padding-left: 10px;
    padding-top: 10px;
}

.conteiner_assuntos_para_voce{

    background-color: #F5F8FA;
    height: 450px;
    border-radius: 15px;
    margin-top: 20px;

}

.apv_cabecalho{
    padding: 5px;
    position: relative;
    text-align: left;
    border-bottom: 1px solid #E1E8ED;
}
.apv_titulo_texto{
    font-size: 20px;
    position: relative;
    padding-left: 10px;
    margin-top: 5px;
    font-family: Arial;
    font-weight: 900;
    margin-bottom: 5px;
}
.apv_engrenagem{
    float: right;
    padding-right: 16px;
    padding-top: 5px;
}

.apv_texto_cinza_menor{

    font-size: 12px;
    position: relative;
    font-family: Arial;
    color: #6d7f8d;
    padding-top: 10px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-left: 8px;
}
.apv_trending_hashtag{
    font-size: 14px;
    position: relative;
    font-family: Arial;
    font-weight: 900;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-left: 8px;
}
.apv_numero_de_tweets{
    font-size: 12px;
    position: relative;
    font-family: Arial;
    color: #6d7f8d;
    padding-top: 5px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-left: 8px;
}

.apv_link{
    color: #1DA1F2;
    
}
.apv_link_container{
    padding-top: 13px;
    padding-bottom: 10px;
    padding-left: 12px;
}

.conteiner_quem_seguir{

    background-color: #F5F8FA;
    height: 450px;
    border-radius: 15px;
    margin-top: 20px;

}