a{
    text-decoration: none;
    color: black;
}

.container-1 {
	display: flex;
	align-items: flex-start;
}

.subcontainer-1 {
	display: flex;
	align-items: center;
    justify-content: left;
	padding: 10px 50px;
	flex: 1;
	direction: row;
	margin: 0;	

}
.subcontainer-tweet {

	padding: 20px 15px;
	flex: 1;
	direction: row;
	margin-left: 115px;
	background-color: #15A4F1;
	align-self: center;
	border-radius: 30px;
	text-align: center;


}
.subcontainer-cabecalho-pagina-inicial{
	border: 1px #ccc solid;
	margin-top: 0px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;

}
.subcontainer-oqueestaacontecendo{
	border: 1px #ccc solid;
	padding-top: 7px;
	padding-left: 15px;
}
.fonte-opcoes{
	font-size: 20px;
	margin-left: 10px;
	font-family: Arial;
	margin-top: 7px;
	font-weight: bold;
}
.fonte-tweet-1{
	font-size: 15px;
	text-align: center;
	color: #ffff;
	font-family: fantasy;
	align-self: center;
}

#icones{
	height: 37px;
    width: auto;
}

